<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/games.css" %}">
</head>
<body>
    <div class="cards-list">
  
        <div class="card">
            <div class="card_image"> 
                <img src="{% static "images/crossword.png" %}" /> 
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/crosswords" class="no-underline">CrossWord</a></p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/LetterBoxed.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/puzzles/letter-boxed" class="no-underline">Letter Boxed</a></p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/SpellingBee.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/puzzles/spelling-bee" class="no-underline">Spelling Bee</a></p>
            </div>
        </div>
        
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/sudoku.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/puzzles/sudoku" class="no-underline">Sudoku</a></p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Tiles.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/puzzles/tiles" class="no-underline">Tiles</a></p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Vertex.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/puzzles/vertex" class="no-underline">Vertex</a></p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Wordle.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="https://www.nytimes.com/games/wordle/index.html" class="no-underline">Wordle</a></p>
            </div>
        </div>

        <div class="card">
            <div class="card_image">
                <img src="{% static "images/connections.png" %}" />
            </div>
            <div class="card_title title-black">
                <p><a href="#" class="no-underline">Connections</a></p>
            </div>
        </div>
    
    </div>

</body>
</html>