<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/games.css" %}">
</head>
<body>
    <div class="cards-list">
  
        <div class="card">
            <div class="card_image"> 
                <img src="{% static "images/crossword.png" %}" /> 
            </div>
            <div class="card_title title-black">
                <p>CrossWord</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/LetterBoxed.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Letter Boxed</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/SpellingBee.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Spelling Bee</p>
            </div>
        </div>
        
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/sudoku.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Sudoku</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Tiles.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Tiles</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Vertex.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Vertex</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card_image">
                <img src="{% static "images/Wordle.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Wordle</p>
            </div>
        </div>

        <div class="card">
            <div class="card_image">
                <img src="{% static "images/connections.png" %}" />
            </div>
            <div class="card_title title-black">
                <p>Connections</p>
            </div>
        </div>
    
    </div>

</body>
</html>